:root {
  // colors
  --xsmart-doc-black: #000;
  --xsmart-doc-white: #fff;
  --xsmart-doc-green: #52c41a;
  --xsmart-doc-red: #f5222d;
  --xsmart-doc-purple: #8080ff;
  --xsmart-doc-yellow: #faad14;
  --xsmart-doc-blue: #2f97f8;
  --xsmart-doc-blue-1: #71cbff;
  --xsmart-doc-gray-1: #f7f8fa;
  --xsmart-doc-primary: var(--xsmart-doc-blue);
  --xsmart-doc-code-color: #58727e;
  --xsmart-doc-quote-color: #fff7d7;

  // sizes
  --xsmart-doc-header-height: 60px;
  --xsmart-doc-menu-width: 256px;
  --xsmart-doc-header-zIndex: 9999;
  --xsmart-doc-menu-zIndex: 9998;
  --xsmart-doc-layout-max-width: 1360px;
  --xsmart-doc-radius: 20px;
  --xsmart-doc-fontsize-base: 14px;
  --xsmart-doc-fontsize-medium: 16px;
  --xsmart-doc-fontsize-large: 18px;
  --xsmart-doc-fontsize-xlarge: 20px;
}

// theme-light
.xsmart-doc-theme-light {
  // text-color
  --xsmart-doc-text-color: #333;
  --xsmart-doc-link-color: var(--xsmart-doc-blue);

  // background-color
  --xsmart-doc-bg-color: var(--xsmart-doc-gray-1);
}

// theme-dark
.xsmart-doc-theme-dark {
  // text-color
  --xsmart-doc-text-color: #fff;
  --xsmart-doc-link-color: var(--xsmart-doc-blue);

  // background-color
  --xsmart-doc-bg-color: #333;
}
