:root {
  // colors
  --xsmart-doc-black: #000;
  --xsmart-doc-white: #fff;
  --xsmart-doc-green: #52c41a;
  --xsmart-doc-red: #f5222d;
  --xsmart-doc-yellow: #faad14;
  --xsmart-doc-blue: #2f97f8;
  --xsmart-doc-blue-1: #71cbff;
  --xsmart-doc-gray-1: #f7f8fa;
  --xsmart-doc-primary: var(--xsmart-doc-blue);
  // sizes
  --xsmart-doc-header-height: 60px;
  --xsmart-doc-sider-width: 256px;
  --xsmart-doc-header-zIndex: 9999;
}

.xsmart-doc-theme-light {
  // text-color
  --xsmart-doc-text-color: #333;
  --xsmart-doc-link-color: var(--xsmart-doc-blue);
  // background-color
  --xsmart-doc-bg-color: var(--xsmart-doc-gray-1);
}

.xsmart-doc-theme-dark {
  // text-color
  --xsmart-doc-text-color: #fff;
  --xsmart-doc-link-color: var(--xsmart-doc-blue);
  // background-color
  --xsmart-doc-bg-color: #333;
}
